.container{
    padding:20px;
    background-image: linear-gradient(to right,#008fff , #005699);
    display: flex;
    justify-content: end;
    gap: 18px;
}
.link{
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    
    gap: 8px;
    
}
.link a{
    color: white;
    text-decoration: none;
}
.slash{
    margin-left: 4px;
}
.midea{
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    
    gap: 8px;
}